
@{
    ViewBag.Title = "AddTask";
}

<head>
    @Styles.Render("~/Content/styleD.css")
</head>
@Html.Partial("NavBar")

<div class="container">
    <section class="content-header">
        <h2>
            Task Detail
        </h2>
        <ol class="breadcrumb">
            <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
            <li> <a href="../Software/Task">Task</a></li>
            <li class="active">Add Task</li>
        </ol>
    </section>

    <form class="form-horizontal" id="add-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="barCode" class="col-sm-3 control-label">Task Date</label>
                    <div class="col-sm-4">
                        <input type="hidden" class="form-control requiredField" id="userId">
                        <input type="text" class="form-control requiredField" id="userName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="barCode" class="col-sm-3 control-label">Task No</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control requiredField" id="password">
                    </div>
                </div>
                <!--Client-->
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Client</label>
                    <div class="col-sm-5">
                        <div id="clientDiv"></div>
                    </div>
                </div>
                <!--Product-->
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Product</label>
                    <div class="col-sm-5">
                        <div style="width:330px;" id="productDiv"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="barCode" class="col-sm-3 control-label">Caller</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control requiredField" id="password">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="barCode" class="col-sm-3 control-label">Task No</label>
                    <div class="col-sm-6">
                        <textarea type="" class="form-control requiredField" id="password"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!--Staff-->
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Answered by</label>
                    <div class="col-sm-5">
                        <div style="width:330px;" id="cboStaffNameDiv"></div>
                    </div>
                </div>
                <div class="form-group">
                    <!--Staff Name-->
                    <label for="sel1" class="col-sm-3 control-label">Staff Name</label>
                    <div class="col-sm-9">

                        <input type="hidden" class="form-control requiredField" id="staffId">
                    </div>
                </div>
                <div class="form-group">
                    <!--Designation-->
                    <label for="designation" class="col-sm-4 control-label">Designation</label>
                    <div class="col-sm-8">
                        <div class="" id="cboDesignationDiv"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/software-js")
<script type="text/javascript">

    var clientList;
    var productList;
    var cboBoxClientName;
    var cboClientNameSelectedValue = "";

    // ==================
    // Get Client Data
    // ==================

    function getClientName() {
        var productList = new wijmo.collections.ObservableArray();
        $.ajax({
            url: '/api/client/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (results) {
                var lastUser = 0;
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        productList.push({
                            Id: results[i]["Id"],
                            CompanyName: results[i]["CompanyName"]
                        });
                    }
                    cboClientName(productList);
                } else {
                    cboClientName(productList);
                }
            }
        });

        return productList;
    }

    // =============================
    // Combo Box Wijmo - Client
    // =============================

    function cboClientName(productList) {
        var clientCollection = new wijmo.collections.CollectionView(productList);
        var productList = new Array();
        for (var i = 0; i < clientCollection.items.length; i++) {

            productList.push(clientCollection.items[i].CompanyName);
        }

        cboBoxClientName.dispose();
        cboBoxClientName = new wijmo.input.ComboBox('#clientDiv', {
            placeholder: "Select Client",
            itemsSource: productList
        });

        cboBoxClientName.onSelectedIndexChanged = function () {
        }
    }

    // ==================
    // Get Product Data
    // ==================

    function getProduct() {
        var productList = new wijmo.collections.ObservableArray();
        $.ajax({
            url: '/api/product/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (results) {
                var lastUser = 0;
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        productList.push({
                            Id: results[i]["Id"],
                            ProductCode: results[i]["ProductCode"],
                            ProductDescription: results[i]["ProductDescription"]
                        });
                    }
                    cboProductName(productList);
                } else {
                    cboProductName(productList);
                }
            }
        });

        return productList;
    }

    // =============================
    // Combo Box Wijmo - Product 
    // =============================

    function cboProductName(productList) {
        var productCollection = new wijmo.collections.CollectionView(productList);
        var productList = new Array();
        for (var i = 0; i < productCollection.items.length; i++) {

            productList.push(productCollection.items[i].ProductDescription);
        }

        cboBoxProductName.dispose();
        cboBoxProductName = new wijmo.input.ComboBox('#productDiv', {
            placeholder: "Select Product",
            itemsSource: productList,
            isEditable: false,
        });

        cboBoxProductName.onSelectedIndexChanged = function () {
        }
    }

    // ==================
    // Get StaffName Data
    // ==================

    function getStaffName() {
        var staffList = new wijmo.collections.ObservableArray();
        $.ajax({
            url: '/api/staff/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (results) {
                var lastUser = 0;
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        staffList.push({
                            Id: results[i]["Id"],
                            StaffName: results[i]["StaffName"]
                        });
                    }
                    cboStaffName(staffList);
                } else {
                    cboStaffName(staffList);
                }
            }
        });

        return staffList;
    }

    // =============================
    // Combo Box Wijmo - Staff Name
    // =============================

    function cboStaffName(staffList) {
        var staffCollection = new wijmo.collections.CollectionView(staffList);
        var staffList = new Array();
        for (var i = 0; i < staffCollection.items.length; i++) {

            staffList.push(staffCollection.items[i].StaffName);
        }

        cboBoxStaffName.dispose();
        cboBoxStaffName = new wijmo.input.ComboBox('#cboStaffNameDiv', {
            placeholder: "Select Staff",
            itemsSource: staffList,
            isEditable: false
        });

        cboBoxStaffName.onSelectedIndexChanged = function () {
            document.getElementById("staffId").value = staffCollection.items[this.selectedIndex].Id
        }
    }

    // ============
    // On Page Load
    // ============
    $(document).ready(function () {
        cboBoxClientName = new wijmo.input.ComboBox('#clientDiv');
        cboBoxProductName = new wijmo.input.ComboBox('#productDiv');
        cboBoxStaffName = new wijmo.input.ComboBox('#cboStaffNameDiv');
        getClientName();
        getProduct();
        getStaffName();
    });
</script>

@Html.Partial("Footer")